<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<!-- <body id="box-edit" class="background-image"> -->
    <%- include('./partials/header') %>

    <main class="maincreate" id="main-edit">
        <div id="box-create" class="container products-wrapper">
            
            <div class="row">
                <div class="col-12">
                    <h2 id="create-titulo" class="products-title">Formulario de creación de productos</h2>
                </div>
            </div>
            <div class="col-12">
                <form class="productCerate" action="/products/create" method="POST" enctype="multipart/form-data">
                    
                    
                     <div class="row product-detail">
                        <div class="col-12 col-md-6">
                            <label for="name" class="form-label">Nombre del producto:</label>
                            <input type="text" id="name" name="name" placeholder="Ej:Tabla de salmon" class="form-input vista-create-input">
                            <% if(locals.errors && errors.name) { %>
                                <div class="text-danger">
                                    <%= errors.name.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="image" class="form-label">Imagen del producto:</label>
                            <input type="file" id="image" name="image" placeholder="Ej: Image.jpg" class="form-input vista-create-input" enctype="multipart/form-data">
                            <% if(locals.errors && errors.image) { %>
                                <div class="text-danger">
                                    <%= errors.image.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="price" class="form-label">Precio del producto:</label>
                            <input type="text" id="price" name="price" placeholder="Ej: 1700" class="form-input vista-create-input-precio">
                            <% if(locals.errors && errors.price) { %>
                                <div class="text-danger">
                                    <%= errors.price.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="discount" class="form-label">Descuento:</label><br>
                            <input type="text" id="discount" name="discount" placeholder="Ej: 15" class="form-input vista-create-input-decuento">
                            <% if(locals.errors && errors.discount) { %>
                                <div class="text-danger">
                                    <%= errors.discount.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="category" class="form-label">Categoría:</label>
                            <select name="category_id" id="category" class="form-input">
                                <% if (locals.category) { %>
                                    <% for (let i=0; i < locals.category.length; i++) { %>
                                        <option value= <%= locals.category[i].id%>">    
                                            <%= locals.category[i].category %>
                                        </option>
                                        <% } %>
                                    <% } %>
                            </select>
                            <% if(locals.errors && errors.category) { %>
                                <div class="text-danger">
                                    <%= errors.category.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div class="col-12 descripcion-edit">
                            <label for="description" class="form-label">Descipción:</label><br>
                            <textarea name="description" id="description" class="form-input"></textarea>
                        </div>
                        <div class="col-12">
                            <button type="submit" id="create-button" class="buy-now-button">Guardar producto</button>
                        </div>
                    </div>
                   <div class="validacionesFront">
                        <ul class="textError">
                        </ul>
                    </div>
                </form>
            </div>
    
        </div>
    
    </main>
    <script src="/js/productCreateValidation.js"></script>
</body>

<%- include('./partials/footer') %>

</html>
