<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head') %>

<body class="background-image-profile">
    <%- include('./partials/header') %>
    <main>
    <h2 id="text-profile">¡Hola, <%= user.full_name %>!</h2>
    <div id="div-profile-menu">
    <a href="/menu">
    <button id="button-profile-menu"><strong>Realiza tu pedido</strong></button>
    </a>
    </div>
    </main>

    <%- include('./partials/footer') %>
    <%- include('./partials/boton-flotante') %>
</body>
</html>