<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head') %>

    <body id="box-edit" class="background-image">
    
    <%- include('./partials/header') %>

    <main class="registro-mail">
        <form class="login-full" method="POST" action="/user/register" enctype="multipart/form-data">
            <h4 id="registro-titulo">Registrate</h4>
            <button id="registro-facebook" type="button"><i class="fab fa-facebook"></i> CONECTAR CON FACEBOOK</button><br>
            <div class="row">
                <div class="col-md-6 my-1">
                    <div class="form group">
                        <input 
                        type="text" 
                        name="fullName" 
                        placeholder="Nombre de usuario"
                        id="registro-name"
                        class="form-control <%= locals.errors && errors.fullName ? 'is-invalid' : null %>"
                        value="<% locals.oldData ? oldData.fullName : null %>">
                        <% if(locals.errors && errors.fullName) { %>
                            <div class="text-danger">
                                <%= errors.fullName.msg %>
                            </div>
                        <% } %>
                    </div>
                </div> 
                <div class="col-md-6 my-1">
                    <div class="form group">
                        <input
                        type="text" 
                        name="email" 
                        placeholder="E-mail"
                        id="registro-mail"
                        class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                        value="<% locals.oldData ? oldData.fullName : null %>" >
                        <% if(locals.errors && errors.email) { %>
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                        <% } %>
                    </div>
                <div class="col-md-6 my-1">
                    <div class="form group">
                        <input 
                        type="password" 
                        name="password" 
                        placeholder="Constraseña"
                        id="registro-password"
                        class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
                        value="<% locals.oldData ? oldData.fullName : null %>">
                        <% if(locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                        <% } %>
                </div>
                <div class="col-md-6 my-1">
                    <div class="form-group">
                        <label><b>Pais de Nacimiento</b></label>
                        <select name="country" class="form-select">
                            <option value="">Elegi un Pais</option>
                            <%
                              let countries = ['Argentina', 'Bolivia', 'Brasil', 'Colombia', 'Chile', 'Ecuador', 'Paraguay', 'Peru', 'Uruguay', 'Venezuela'];
                            %>
                            <% for (const oneCountry of countries) { %> 
                            <option value="<%= oneCountry %>" <%= locals.oldData && (oneCountry === oldData.country) ? 'selected' :null %>> <%= oneCountry %> </option>
                            <% } %>
                        </select>
                        <% if(locals.errors && errors.country) { %>
                            <div class="text-danger">
                                <%= errors.country.msg %>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="imagen-perfil">
                    <div class="form-group">
                        <label><b>Imagen de Perfil:</b></label>
                        <input class="form-control" type="file" name="avatar">
                        <div class="invalid-feedback">
                            <% if(locals.errors && errors.avatar) { %>
                                <div class="text-danger">
                                    <%= errors.avatar.msg %>
                                </div>
                            <% } %>
                        </div>
                     </div>
                    
                </div>
                <div class="col-12 my-3">
                    <button type="submit" id="registro-button" class="btn btn-primary">Registrarme</button>
                </div>
                </div>
            </div>

        </form>
    </main>

    <%- include('./partials/footer') %>
    <%- include('./partials/boton-flotante') %>
</body>
</html>