<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head') %>

    <body id="box-edit" class="background-image">
    
    <%- include('./partials/header') %>

    <main class="registro-mail">
        <form class="login-full" method="POST" action="/user/register" enctype="multipart/form-data" autocomplete="nope">
            <h4 id="registro-titulo">Registrate</h4>
            <div class="row">
                <div class="col-md-6 my-1">
                    <div class="form group">
                        <input 
                        type="text" 
                        name="first_name" 
                        placeholder="Nombre"
                        id="registro-name"
                        class="form-control <%= locals.errors && errors.first_name ? 'is-invalid' : null %>"
                        value="<% locals.oldData ? oldData.first_name : null %>">
                        <% if(locals.errors && errors.fisrt_name) { %>
                            <div class="text-danger">
                                <%= errors.first_name.msg %>
                            </div>
                        <% } %>
                    </div>
                </div> 
                <div class="col-md-6 my-1">
                    <div class="form group">
                        <input 
                        type="text" 
                        name="last_name" 
                        placeholder="Apellido"
                        id="registro-name"
                        class="form-control <%= locals.errors && errors.last_name ? 'is-invalid' : null %>"
                        value="<% locals.oldData ? oldData.last_name : null %>">
                        <% if(locals.errors && errors.last_name) { %>
                            <div class="text-danger">
                                <%= errors.last_name.msg %>
                            </div>
                        <% } %>
                    </div>
                </div> 
                <div class="col-md-6 my-1">
                    <div class="form group">
                        <input 
                        type="text" 
                        name="phone_number" 
                        placeholder="Numero de telefono"
                        id="registro-name"
                        class="form-control <%= locals.errors && errors.phone_number ? 'is-invalid' : null %>"
                        value="<% locals.oldData ? oldData.phone_number : null %>">
                        <% if(locals.errors && errors.phone_number) { %>
                            <div class="text-danger">
                                <%= errors.phone_number.msg %>
                            </div>
                        <% } %>
                    </div>
                </div> 
                <div class="col-md-6 my-1">
                    <div class="form group">
                        <input
                        type="text" 
                        name="email"
                        autocomplete="nope" 
                        placeholder="E-mail"
                        id="registro-mail"
                        class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                        value="<% locals.oldData ? oldData.fullName : null %>" >
                        <% if(locals.errors && errors.email) { %>
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                        <% } %>
                    </div>
                <div class="col-md-6 my-1">
                    <div class="form group">
                        <input 
                        type="password" 
                        name="password" 
                        autocomplete="nope"
                        placeholder="Constraseña"
                        id="registro-password"
                        class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
                        value="<% locals.oldData ? oldData.fullName : null %>">
                        <% if(locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                        <% } %>
                </div>
                <div class="imagen-perfil">
                    <div class="form-group">
                        <label><b>Imagen de Perfil:</b></label>
                        <input class="form-control" type="file" name="avatar">
                        <div class="invalid-feedback">
                            <% if(locals.errors && errors.avatar) { %>
                                <div class="text-danger">
                                    <%= errors.avatar.msg %>
                                </div>
                            <% } %>
                        </div>
                     </div>
                    
                </div>
                <div class="col-12 my-3">
                    <button type="submit" id="registro-button" class="btn btn-primary">Registrarme</button>
                </div>
                </div>
            </div>

        </form>
    </main>

    <%- include('./partials/footer') %>
    <%- include('./partials/boton-flotante') %>
</body>
</html>